<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DateTimePickerShowRoom.Properties.Settings.sampleConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\sample.mdb" providerName="System.Data.OleDb" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SmartFieldPackEditor" publicKeyToken="a8563289ed9b0ace" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.76.0" newVersion="1.4.76.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
