<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="VisualHint.SmartFieldPackEditor.Trial" version="1.4.77" targetFramework="net40" />
  <package id="VisualHint.SmartPropertyGrid.Trial" version="3.4.87" targetFramework="net40" />
  <package id="VisualHint.SpgSfpeAdapter.Trial" version="1.4.77" targetFramework="net40" />
</packages>